
{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static homepage/css/style.css %}">

</head>

<body>
  <div class="container">
    <h1>Правила организации отступов: как сделать вёрстку гибкой и не допустить ошибок</h1>
    <p>Вёрстка должна быть <strong>максимально гибкой.</strong> Даже если заказчик или работодатель говорит, что сайт
      статичный и не будет меняться,
      всё равно стоит делать так, будто завтра добавят несколько блоков текста, несколько элементов или что-то ещё.</p>

    <p>Нужно точно знать,<i> как поведут себя блоки при вёрстке, что произойдёт при изменениях.</i> И здесь помогают
      правила организации отступов. Они помогают легко менять, улучшать
      и масштабировать вёрстку и уберегут вас от типичных ошибок.</p>

    <div class="gray_block">
      <h2>Содержание</h2>
      <p>Первая из частей - HTML. Это начальная стадия соблюдения кодстайла, ведь любой сайт вы начнете писать именно с
        этого языка. Давайте посмотрим на основные правила:</p>
      <ul>
        <li><a href="#p1">Основные принципы работы с отступами</a></li>
        <li><a href="#p2">Первый принцип: Отступы от педыдущего к следующему</a></li>
        <li><a href="#p3">Второй принцип: Отступы задаются только между соседями</a></li>
        <li><a href="#p4">Третий принцип: У последнего элемента группы обнуляем отступ</a></li>
      </ul>
    </div>

    <h3 id="p1">Основные принципы работы с отступами</h3>

    <p>У любого сайта или документа есть так называемый поток - порядок вывода объектов в документе. В вёрстке этот
      поток
      идёт сверху вниз, слева направо. Именно поэтому,
      если какой-то элемент на макете находится справа, он должен в HTML-коде идти последним из своей группы.
    </p>
    <p>Исходя из этого можно сразу сформулировать первый принцип.</p>

    <h3 id="p2">Отступы задаются от пердыдущего эелемента к следующему</h3>

    <p>Это значит, что в вёрстке нужно стараться использовать CSS-свойства <strong>margin-right</strong> и
      <strong>margin-bottom</strong>, то есть отступ справа и отступ снизу.
      Проще говоря - избегает отступов слева и сверху полностью.
    </p>

    <figure>
      <img src="img/1.jpg" alt="Отступы">
      <figcaption>На скриншоте видно - как правильно задавать отступы, - только справа и снизу (показанно оранжевым)
      </figcaption>
    </figure>
    <p>Внешние отступы сверху и слева <b>(margin-top и margin-left)</b> заменяются на аналогичные внутренние отступы
      <b>(padding)</b> у родидителя элементов.
    </p>
    <img class="image" src="img/2.jpg" alt="внутренние отступы">
    <p>Получается, что блок не может сдвигаться благодаря своим отступам, - он делает это только засчёт соседних
      элементов
      (и сам двигает соседние).</p>

    <h3 id="p3">Отступы задаются только между соседними элементами в потоке</h3>
    <p>Если у блока нет соседа с леовй стороны - задавать ему отступ слева нельзя. То же самое касается любой из сторон
    </p>
    <img class="image" src="img/3.jpg" alt="Отступы от соседних элементов">
    <p>У обоих отступ задан сниху. Для первого списка это применимо, потому что есть сосед снизу - второй список. А для
      второго, не имеющего такого соседа - отступа нет.</p>
    <figure><img src="img/4.jpg" alt="Выпадение отступов">
      <figcaption>На скриншоте - выпадение отступов. Отступ есть, но он увеличивает размер "родителя" с голубым фоном,
        образуя лишний отступ - типичную ошибку вёрстки</figcaption>
    </figure>

    <h3 id="p4">Последнему элементу группы нужно обнулять отступ</h3>
    <p>Это легко сделать с помощью псевдоклассов в CSS. Например, есть псевдокласс <strong>:last-child</strong>, который
      позволяет выбрать последний элемент из группы (например, как в нашем случае:
      Мы найдём последний элемент списка).</p>

    <p>С помощью <strong>last-child</strong> мы обнуляем отступ у последнего <b>ul</b>, как показанно в примере. Теперь
      всё работает, как надо.</p>
    <img class="image" src="img/5.jpg" alt="last-child">
    <p>Чтобы не создавать два селектора, можно написать короче, используя псевдокласс <strong>:not</strong>. Тут мы
      буквально говорим следующее: "Задай отступ всем ul, но не по последнему".</p>
    <img class="image" src="img/6.jpg" alt="Псевдокласс :not">

    <h3>Типичный пример: отступы в карточке</h3>
    <p>Рассмотрим типичный пример - реализацию карточки с контентом на сайте. Как здесь лучше поступить?</p>
    <p>В нашем примере самая простая карточка: с картинкой, заголовком и описанием. Как правильнее сделать отступы у
      заголовков и описания?
      На самом деле, всё очень просто: нужно применить принципы, о которых я рассказал.
    </p>
    <img class="image" src="img/7.jpg" alt="Пример карточки">
    <p>Нам достаточно обернуть весь текст карточки в блок и задать блоку внутренний отступ - padding. Так наша вёрстка
      будет соответствовать сразу трём принципам.
      А чтобы сделать отступ между заголовком и описанием, достаточно просто сделать отступ снизу - для заголовка.
    </p>
    <div id="last_gray_block" class="gray_block">
      <h3>Итог</h3>
      <p>Это основные правила организации отступов, которые помгут вам сделать вёрстку качественной и гибкой. Главное -
        начать им следовать. Со временем из соблюдение войдёт в привычку
        и вы начнете сразу понимать, где можно допустить ошибку и как её избежать.
      </p>
    </div>
  </div>


</body>

</html>
