html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'font', sans-serif;
}

.main-content {
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  min-height: 100vh;

  color: #fff;

  background-color: #070217;
}

.logo {
  display: block;
  margin-bottom: 50px;
}


.links {
  /* display: inline-block; */
  margin-bottom: 50px;
}


.idents {
  display: inline-block;
  padding: 24px 49px 24px 49px;


}

.modules {
  display: inline-block;
  padding: 24px 49px 24px 49px;
  margin-right: 25px;

}

.links :last-child {
  margin: 0;

}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;

}

h1 {
  margin-bottom: 40px;
}

p {
  margin: 0px;
  margin-bottom: 40px;
  width: 872px;
}


.gray_block {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom: 40px;
}

#last_gray_block {
  margin: 0px;
}

.gray_block p {
  width: 695px;
  margin-bottom: 10px;

}

h2,
h3 {
  margin-bottom: 10px;
}

ul {

  padding-left: 15px;
}

li {
  margin-bottom: 20px;
}

ul :last-child {
  margin-bottom: 0px;
}

.image {
  margin-bottom: 40px;
}

figure {
  display: inline-block;
  margin-bottom: 40px;
  width: 872px;
}

figure :last-child {
  margin-bottom: 0px;
}
